<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %}</title>
    {% include 'partials/css.html' %}
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% include 'partials/message.html' %}
    <div class="container">
      <div class="row align-items-center justify-content-center" style="min-height: 88vh;">
        <div class="col-lg-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
