<!-- about part start-->
<section class="about_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>Empowering Self-Representation: Discover the SELF REP Story</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-sm-7">
                <div class="about_part_img">
                    <img src="/static/img/about_1.png" alt="#">
                </div>
            </div>
            <div class="col-lg-5 col-sm-5 d-none d-sm-block">
                <div class="about_part_img">
                    <img src="/static/img/about_2.png" alt="#">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="about_text">
                    <p>
                        Justice mtaani ensures justice for all. We aim to corporate the idea of Self representation and
                        to suggest the best advocate for your case. For your self representation, we ensure that you
                        know how to prepare your case, how to file your new case in court and how you will be addressing
                        the court when you represent yourself. We also aim to ensure that you know the kind of questions
                        that bring out the main issues in your case and how to frame your answers in court.
                    </p>
                    <br>
                    <p>
                        Secondly, Your hustle for the best advocate is solved! We aim to suggest and connect you to the
                        best advocate for your case depending on the description of your case. <br>
                        Justice for All!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->