    <!-- cta_part part start-->
    <section class="cta_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="cta_text">
                        <h2>Empowering self-representation. Take control of your legal matters with the help of our user-friendly app.</h2>
                        {% if user.is_authenticated %}
                            <a href="{% url 'contact' %}" class="cta_btn">Learn More</a>
                        {% else %}
                            <a href="{% url 'account_login' %}" class="cta_btn">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta_part part end-->