<!-- footer part start-->
<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-xl-3">
                <div class="single-footer-widget footer_1">
                    <a href="/" class="text-white h4">SELF REP</a>
                    <p>We aim to corporate the idea of Self representation and to suggest the best advocate for your
                        case. For your self representation, we ensure that you know how to prepare your case, how to
                        file your new case in court and how you will be addressing the court when you represent
                        yourself.</p>
                </div>
            </div>
            {% if services %}
            <div class="col-sm-6 col-xl-3">
                <div class="single-footer-widget">
                    <h4>Our Service</h4>
                    <ul>
                        {% for service in services %}
                        <li><a>{{ service.title }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            {% endif %}
            <div class="col-sm-6 col-xl-3">
                <div class="single-footer-widget footer_icon">
                    <h4>Contact Info</h4>
                    <p>52106-00100 Nairobi</p>
                    <ul>
                        <li><a href="tel:+254795067776"><i class="ti-mobile"></i>+254795067776</a></li>
                        <li><a href="mailto:info@selfrep.com"><i class="ti-email"></i>info@selfrep.com</a></li>
                        <li><a href="/"><i class="ti-world"></i>selfrep.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single-footer-widget footer_3">
                    <h4>Quick links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer part end-->