    <!-- team_part part start-->
    <section class="team_part our_offer section_bg section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-10">
                    <div class="section_tittle">
                        <h2>Meet Our Team</h2>
                        <p>Meet our passionate team of legal and technology experts who are dedicated to making legal services more accessible and affordable for everyone through SELF REP.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="/static/img/team/team_member_1.png" alt="offer_img_1">
                            <div class="hover_text">
                                <p>jevenmartyn@ariclaw.com</p>
                                <div class="team_social_icon">
                                    <a href="#"> <span class="ti-twitter"></span> </a>
                                    <a href="#"> <span class="ti-skype"></span> </a>
                                    <a href="#"> <span class="ti-instagram"></span> </a>
                                </div>
                            </div>

                        </div>
                        <div class="team_member_info">
                            <h4>Stephen Hockin</h4>
                            <p>Crime Lawyer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="/static/img/team/team_member_2.png" alt="offer_img_1">
                            <div class="hover_text">
                                <p>jevenmartyn@ariclaw.com</p>
                                <div class="team_social_icon">
                                    <a href="#"> <span class="ti-twitter"></span> </a>
                                    <a href="#"> <span class="ti-skype"></span> </a>
                                    <a href="#"> <span class="ti-instagram"></span> </a>
                                </div>
                            </div>
                        </div>
                        <div class="team_member_info">
                            <h4>Jeven Martyn</h4>
                            <p>Finance Lawyer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="/static/img/team/team_member_3.png" alt="offer_img_1">
                            <div class="hover_text">
                                <p>jevenmartyn@ariclaw.com</p>
                                <div class="team_social_icon">
                                    <a href="#"> <span class="ti-twitter"></span> </a>
                                    <a href="#"> <span class="ti-skype"></span> </a>
                                    <a href="#"> <span class="ti-instagram"></span> </a>
                                </div>
                            </div>

                        </div>
                        <div class="team_member_info">
                            <h4>Donald Tisar</h4>
                            <p>Crime Lawyer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team_part part end-->