    {% if teams %}
    <!-- team_part part start-->
    <section class="team_part our_offer section_bg section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-10">
                    <div class="section_tittle">
                        <h2>Meet Our Team</h2>
                        <p>Meet our passionate team of legal and technology experts who are dedicated to making legal services more accessible and affordable for everyone through SELF REP.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                {% for team in teams %}
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="{{ team.image.url }}" alt="offer_img_1">
                            <div class="hover_text">
                                <p>{{ team.user.email|default:'No Email found'}}</p>
                                <div class="team_social_icon">
                                    {% if team.user.profile.twitter %}
                                        <a href="{{ team.user.profile.twitter }}"> <span class="ti-twitter"></span> </a>
                                    {% endif %}
                                    {% if team.user.profile.skype %}
                                        <a href="{{ team.user.profile.skype }}"> <span class="ti-skype"></span> </a>
                                    {% endif %}
                                    {% if team.user.profile.instagram %}
                                        <a href="{{ team.user.profile.instagram }}"> <span class="ti-instagram"></span> </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="team_member_info">
                            <h4>{{ team.user.get_full_name|default:'No Name found'}}</h4>
                            <p>{{ team.role}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- team_part part end-->
{% endif %}