{% extends 'base.html' %}

{% block content %}
{% include 'partials/about.html' %}

<!-- Service part start-->
<section class="service_part section_padding mr_bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single_service_part">
                    <div class="single_service_text">
                        <span class="flaticon-law"></span>
                        <h2>Get Law Advice</h2>
                        <p>Over their the abund every placed thing them them winged you beginning forth</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_service_part">
                    <div class="single_service_text">
                        <span class="flaticon-scale"></span>
                        <h2>Review The Case</h2>
                        <p>Over their the abund every placed thing them them winged you beginning forth</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_service_part">
                    <div class="single_service_text">
                        <span class="flaticon-siren"></span>
                        <h2>Winning Guarantee</h2>
                        <p>Over their the abund every placed thing them them winged you beginning forth</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_service_part">
                    <div class="single_service_text">
                        <span class="flaticon-policeman"></span>
                        <h2>Fully Suppport</h2>
                        <p>Over their the abund every placed thing them them winged you beginning forth</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service part end-->
{% include 'partials/ads.html' %}
{% include 'partials/team.html' %}
{% endblock %}