<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if title %}{{ title }} - {% endif %}Justice Mtaani</title>
    {% include 'partials/css.html' %}
</head>

<body>
    {% include 'partials/top-nav.html' %}
    {% include 'partials/breadcrumb.html' %}
    {% include 'partials/message.html' %}
    {% block content %}

    {% endblock %}
    {% include 'partials/footer.html' %}
    {% include 'partials/js.html' %}

    <script src='//fw-cdn.com/2639186/3079828.js' chat='true'>
    </script>

</body>

</html>